@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0 1em;
}

.main {
  display: flex;
  flex-direction: column;
}

.introduction-section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3em;
}

.intro-text {
  padding-top: 3em;
}

.about {
  display: flex;
  margin-top: 3em;
  padding-left: 3em;
  justify-content: space-evenly;
}
.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.contact {
  text-align: center;
  color: #ffc300;
}
.form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.menu-group {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
}
input {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
}
footer {
  text-align: center;
}
.about img {
  max-width: 20%;
  margin-right: 3em;
  max-height: 20%;
}

.intro-text > * {
  margin: 0;
}

nav h4 {
  color: #ffc300;
  font-weight: bold;
  align-self: flex-start;
  margin: 0;
  padding-top: 0.5em;
  font-size: 1.5em;
}

.links ul {
  display: flex;
  justify-content: space-between;
}

.links ul li {
  list-style-type: none;
  padding-right: 1em;
}
